#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card-image-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
